.about {

    .about_text {
        padding-top: 131px;
        padding-left: 108px;
        padding-bottom: 46px;
        h1 {
            max-width: 325px;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 41px;
        }
        p {
            max-width: 632px;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 26px;
            font-weight: 600;
        }
    }

    .contacts {
        width: 100%;
        position: relative;
        h1 {
            width: 100%;
            min-height: 152px;
            box-sizing: border-box;
            padding: 77px 0 43px 116px;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;

        }
        .map {
            width: 100%;
            height: 611px;
        }

    }
}

.contacts_carousel {
    width: 100%;
    .slider {
        $purple: #9b50ba;
        $blue: #3498db;
        $green: #2ecc71;
        $yellow: #f1c40f;

        background-color: white;
        position: relative;
        max-width: 90%;
        height: 535px;
        margin: 0 auto;
        overflow: hidden;
        
        .slider-inner {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            transition-duration: 1s; // background-visibility: hidden;
            background-color: #d4164e;

            transform: translateZ(0);
        }

        .slide {
            position: absolute;
            top: 0;
            height: 100%;
            background-color: #d4164e;
            background-visibility: hidden;
            transform: translateZ(0);
            transition-duration: .5s;
            text-align: center;
            line-height: 600px;
            font-size: 5rem;
            color: white;

            &.active {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
                transition-delay: 2s;
            }
        }

        .slider-nav {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            text-align: center;

            > div {
                float: left;
                width: 10px;
                height: 10px;
                border: 1px solid white;
                z-index: 2;
                display: inline-block;
                margin: 0 10px;
                cursor: pointer;
                border-radius: 50%;
                opacity: .5;

                transition-duration: .25s;
                background-color: transparent;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    background-color: white;
                    transform: scale(2);
                    opacity: 1;
                }
            }
        }
    }
}
