.about {
    .about_text {
        padding-top: 131px;
        padding-left: 108px;
        padding-bottom: 46px;
        h1 {
            max-width: 325px;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 41px;
        }
        p {
            max-width: 632px;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 26px;
            font-weight: 600;
        }
    }
    .contacts {
        width: 100%;
        position: relative;
        z-index: 5;
        h1 {
            width: 100%;
            min-height: 152px;
            box-sizing: border-box;
            padding: 77px 0 43px 116px;
            background-color: #d4164e;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
            position: absolute;
            z-index: 5;
            top: 0;
        }
        .map {
            width: 100%;
            height: 611px;
            position: relative;
            z-index: 3;
            top: 81px;
        }
    }
    .footer {
        width: 100%;
        min-height: 64px;
        background-color: #b41342;
        padding: 0 120px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        div {
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 20px;
            font-weight: 600;
            line-height: 64px;
        }
    }
}

.contacts_carousel {
    width: 100%;
    background-color: #d4164e;
    position: relative;
    z-index: 5;
    top: -10px;
    .slider {
        position: relative;
        max-width: 90%;
        height: 535px;
        margin: 0 auto;
        overflow: hidden;
        .slider-inner {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            transition-duration: 1s;
            background-color: #d4164e;
        }
        .slide {
            position: absolute;
            top: 0;
            height: 100%;
            background-color: #d4164e;
            box-sizing: border-box;
            overflow: hidden;
            transition-duration: .5s;
            &.active {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
                transition-delay: 2s;
            }
        }
        //        .slider-nav {
        //            position: absolute;
        //            bottom: 0;
        //            left: 50%;
        //            transform: translateX(-50%);
        //            padding: 20px;
        //            text-align: center;
        //            > div {
        //                float: left;
        //                width: 10px;
        //                height: 10px;
        //                border: 1px solid white;
        //                z-index: 2;
        //                display: inline-block;
        //                margin: 0 10px;
        //                cursor: pointer;
        //                border-radius: 50%;
        //                opacity: .5;
        //                transition-duration: .25s;
        //                background-color: transparent;
        //                &:hover {
        //                    opacity: 1;
        //                }
        //                &.active {
        //                    background-color: white;
        //                    transform: scale(2);
        //                    opacity: 1;
        //                }
        //            }
        //        }
    }
}

.slide {
    padding: 58px 0 0 54px;
    color: #fefefe;
    h3 {
        max-width: 160px;
        margin: 58px 0 30px 0;
        font-family: "Source Sans Pro";
        font-size: 29px;
        font-weight: 700;
        text-transform: uppercase;
        span {
            color: #cacaca;
        }
    }
    .mail {
        font-size: 19px;
        margin-bottom: 18px;
        i {
            color: #c68ca6;
            font-size: 23px;
            margin-right: 5px;
        }
    }
    .adress {
        max-width: 160px;
        font-family: "Source Sans Pro";
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 30px;
        span {
            font-weight: 700;
        }
    }
    .manager {
        .manager_title {
            font-family: "Source Sans Pro";
            font-size: 19px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .manager_info {
            display: flex;
            .img {
                width: 79px;
                height: 79px;
                margin-right: 5px;
            }
            .name {
                max-width: 115px;
                font-family: "Source Sans Pro";
                font-size: 19px;
                font-weight: 400;
                text-transform: uppercase;
                .icons {
                    i {
                        font-size: 23px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}