.header {
    width: 100%;
    padding: 0 35px;
    height: 72px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    z-index: 4;
    nav {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand-logo {
            font-size: 50px;
            font-weight: 900;
//            font-style: italic;
            text-shadow: 2px 2px 3px #010101;
            color: #b41342;
            text-transform: uppercase;
        }
        .hide-on-med-and-down {
            display: flex;
            justify-content: space-between;
            li {
                a {
                    color: #fefefe;
                    font-family: "Source Sans Pro";
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}