.intro_cover_content {
    width: 100%;
    height: 100%;
    .cover_content_slider_container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .cover_content_slide {
            width: 100%;
            height: 100%;
            padding: 188px 87px 0 118px;
            box-sizing: border-box;
            display: flex;

            .slide_text {
                width: 40%;
                height: 100%;
                h1 {
                    max-width: 399px;
                    color: #fefefe;
                    font-family: "Source Sans Pro";
                    font-size: 70px;
                    font-weight: 400;
                    line-height: 70px;
                    text-transform: uppercase;
                    margin-bottom: 39px;
                }
                .exp_btn {
                    width: 300px;
                    height: 88px;
                    border: 6px solid #fff;
                    box-sizing: border-box;
                    color: #fefefe;
                    background: transparent;
                    font-family: "Source Sans Pro";
                    font-size: 65px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 50px;
                    text-align: center;
                }
            }
            .slide_image {
                width: 60%;
                height: 100%;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center top;
            }
            .map {
                background-image: url(../img/Map_area.png);
            }
            .pin {
                background-image: url(../img/Pins2.png);
            }
            .flag {
                background-image: url(../img/Country_Flags2.png);
            }
            .office {
                background-image: url(../img/Offices2.png);
            }
        }
    }
}