.main_screen {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .wach_mov {
        width: 260px;
        height: 106px;
        padding: 0;
        border: 0;
        background: transparent;
        position: absolute;
        top: 50%;
        right: 62px;
        transform: translateY(-50%);
        cursor: pointer;
        outline: 0;
        span {
            display: inline-block;
            width: 187px;
            color: #fefefe;
            font-family: "Source Sans Pro";
            font-size: 57px;
            font-weight: 600;
            line-height: 50px;
            text-align: right;
            text-transform: uppercase;
            margin-right: 15px;
        }
        i {
            color: #fefefe;
            font-size: 80px;
            transform: translateY(-20%);
        }
    }
}

.video_slider {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateX(100%);
    transition: 1s linear;
    &.desktop{
        display: block;
    }   
    &.mobile{
        display: none;
    }
    
    .controls {
        button {
            width: 40px;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            outline: 0;
            background: transparent;
            i {
                color: #fefefe;
                font-size: 80px;
                text-shadow: 2px 2px 3px #000;
                transform: translateY(-20%);
            }
            &.prev {
                left: 62px;
            }
            &.next {
                right: 62px;
            }
        }
    }
}

.move_left {
    transform: translateX(0%);
}

.close_btn {
    position: absolute;
    color: #fefefe;
    font-size: 55px;
    text-shadow: 2px 2px 3px #000;
    opacity: 0.7;
    transform: translateY(-20%);
    right: 62px;
    top: 15%;
}

.video_slider_container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition-timing-function: cubic-bezier(.22, 1.61, .65, 1);
    transition-duration: 1s;
    background-visibility: hidden;
    transition-delay: .75s;
    transform: translateZ(0);
    .video_slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        transition-timing-function: cubic-bezier(.25, .5, .25, 1.25);
        transform: translateZ(0) scale(.9, .9);
        transition-duration: .5s;
        &.active {
            transform: scale(1, 1);
            transition-delay: 2s;
        }
        .video_slide-descr {
            width: 50%;
            height: 100%;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 50%;
            color: #fefefe;
            padding: 42px 129px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .slide_descr_head {
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 5px;
                line-height: 48px;
            }
            .slide_descr_city {
                font-size: 33px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 20px;
                line-height: 33px;
            }
            .slide_descr_text {
                font-size: 19px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .slide_descr_sign {
                font-size: 17px;
                font-weight: 300;
            }
        }
    }
}

video {
    width: 100%;
    height: 100%;
}