body {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #262626;
    font-family: 'Source Sans Pro';
}

.intro {
    width: 100%;
    padding-bottom: 56%;
    box-sizing: border-box;
//    overflow: hidden;
    position: sticky;
    top: 0;
//    position: relative;
    .intro_cover {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: #fff;
        opacity: 0.2;
    }
    .intro_content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        
    }
    .about {
        width: 100%;
        height: 1712px;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-color: #d4164e;
    }
}