body {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #262626;
    font-family: 'Source Sans Pro';
}

.intro {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    box-sizing: border-box;
    position: relative;

    .intro_cover {
        width: 100%;
        max-height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: inherit;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 2;
            box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.3);
            filter: blur(10px);
        }
    }
    .intro_content {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

.about {
    width: 100%;
    height: 1712px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 4;
    background-color: #d4164e;
}

.shadow {
    width: 100%;
    height: 150vh;
    position: relative;
    top: 0;
    z-index: 1;
    background: transparent;
}
