body {
    max-width: 100vw;
    background-color: #262626;
    font-family: 'Source Sans Pro';
}

.intro {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    box-sizing: border-box;
    position: relative;
    .intro_cover {
        width: 100%;
        max-height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: inherit;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 2;
            box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.3);
            filter: blur(10px);
        }
    }
    .intro_content {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

.about {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 4;
    background-color: #d4164e;
}

.shadow {
    width: 100%;
    height: 300vh;
    position: relative;
    top: 0;
    z-index: 1;
    background: transparent;
}

.bg-video-dimensions {
    width: 100%;
    height: 100%;
}

.video-1-dimensions {
    width: 100%;
    height: 100%;
}

.video-2-dimensions {
    width: 100%;
    height: 100%;
}

.video-3-dimensions {
    width: 100%;
    height: 100%;
}

.video-4-dimensions {
    width: 100%;
    height: 100%;
}

.video-js {
    font-size: 10px;
    color: #fff;
}

.vjs-default-skin .vjs-big-play-button {
    font-size: 3em;
    line-height: 2.5em;
    height: 2.5em;
    width: 2.5em;
    background: transparent;
    border: 0.06666em solid #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -1.25em;
    margin-top: -1.25em;
    display: none !important;
}

.big-play-button {
    position: absolute;
    font-size: 2em;
    line-height: 2.4em;
    height: 2.5em;
    width: 2.5em;
    background: transparent;
    border: 0.06666em solid #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -1.25em;
    margin-top: -1.25em;
    display: none;
    span {
        font-size: 0.9em;
        display: block;
        color: #fff;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
}

.play-button-show {
    display: block;
}

.video-js .vjs-control-bar,
.video-js .vjs-menu-button .vjs-menu-content {
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
}

.video-js .vjs-slider {
    background: #d7d7d7;
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
    background: #d3164e;
}

.video-js .vjs-load-progress {
    background: #b99dba;
}

.video-js .vjs-load-progress div {
    background: #b99dba;
}

.video-js .vjs-control-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
}

.vjs-play-control.vjs-control.vjs-button {
    display: none;
}

.vjs-remaining-time.vjs-time-control.vjs-control {
    display: none;
}

.vjs-fullscreen-control.vjs-control.vjs-button {
    display: none;
}

.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    display: none;
}

.vjs-volume-menu-button.vjs-menu-button.vjs-menu-button-inline.vjs-control.vjs-button.vjs-volume-menu-button-horizontal {
    position: absolute;
    top: -35px;
    height: 30px;
}

.vjs-progress-control.vjs-control {
    align-items: flex-start;
}

.vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
    height: 100%;
    margin: 0;
}

.vjs-play-progress.vjs-slider-bar::before {
    display: none;
}

.vjs-volume-panel.vjs-volume-panel-horizontal {
    position: absolute;
    top: -30px;
}