body {
    max-width: 1366px;
    font-family: 'Source Sans Pro';
}

#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel {
    height: 100%;
    width: 100%;
    position: absolute;
}