//Normalize
@import 'normalize';


//Materialize Elements
@import 'elements/color-variables';
@import 'elements/color-classes';
@import 'elements/variables';
@import 'elements/global';
@import 'elements/preloader';
@import 'elements/navbar';
@import 'elements/sidenav';



//Base styles

@import 'fonts';
//@import 'variables';
@import 'base';

//Sections

@import 'sections/header';
@import 'sections/intro_cover';
@import 'sections/intro_content';
@import 'sections/about';

//media
@import 'media';
