nav {
    &.nav-extended {
        .nav-wrapper {}
        .nav-content {
            position: relative;
        }
    }
    width: 100%;
    i {
        display: inline;
    }
    @media #{$large-and-up} {
        a.sidenav-trigger {
            display: none;
        }
    }
    // Collapse button
    .sidenav-trigger {
        margin: 0 18px;
    }
    // Navbar Links
    ul {
        margin: 0;
        li {
            transition: background-color .3s;
            padding: 0;
            &.active {
                background-color: rgba(0, 0, 0, .1);
            }
        }
        a {
            transition: background-color .3s;
            display: block;
            padding: 0 15px;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}
